@import url('https://webfontworld.github.io/SCoreDream/SCoreDream.css');

*{
	margin:0;
	padding:0;
}

body{
  font-family: 'SCoreDream';
  scroll-behavior: smooth;
	box-sizing: border-box;
}

a {
    text-decoration: none;
    color:#000;
}

ol,
ul,
li {
    list-style: none;
}


.line1px{
	width:100%;	
	height:1px;
	background-color: #D9D9D9;
	margin: 5px auto;
}
.line3px{
	width:100%;
	height:3px;
  background-color: #D9D9D9;
  margin: 5px auto;
}

.container-1400{
  width:1400px;
  margin:0 auto;

}

.con-main{
	display: flex;
	position: relative;
}

.con-login{
  position: relative;
}



.wrap-1000{
  width:1000px;
  margin:0 auto;
}


/* header------------------- */

header{
  border-bottom: 1px solid #D9D9D9;
	height:60px;
	width:100%;
  box-sizing: border-box;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 10000;
  transition: 1s;
  overflow: hidden;
  background-color: #fff;
}

.header:hover {
    height: 250px;
}


.header .inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px auto;
    width: 1400px;
    height: 60px;
    position: relative;
}

.logo {
    position: absolute;
    left: 0;
    top: 0;
    width: 60px;
    height: 60px;
}
.login {
    position: absolute;
    right: 0;
    top: 0;
}
.login a span{
	line-height: 60px;
	padding: 5px 20px;
	font-size: 16px;
	font-weight: bold;
	border-radius: 5px;
	background-color: #979797;
	color: #fff;
}
.logo img {
	height: 60px;
	width: auto;
}

.gnb_wrap {
    position: absolute;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
}

.mobile_gnb_wrap {
    display: none;
}

.global_nav_bar,
.local_nav_bar {
    display: flex;
    align-items: center;
}

.global_nav_bar li a {
    color: #000;
    font-weight: 600;
    transition: 1s;
}

.global_nav_bar li a:hover {
    color: #979797;
    font-weight: 600;
}

.global_nav_bar li {
    width: 150px;
    height: 60px;
    line-height: 60px;
    margin-right: 20px;
    text-align: center;
}

.global_nav_bar li span {
    color: #000;
    font-weight: 600;
}

.sub-menu {
    margin-top: 10px;
    font-size: 14px;
    text-align: center;
}

.sub-menu li {
    width: 150px;
    height: 40px;
    line-height: 40px;
    margin-right: 20px;
    cursor: pointer;
}

.sub-menu li:hover {
    color: #979797;
}

.fa-user-circle{
	font-size: 30px;
	line-height: 60px;
}



/* section------------------- */
.h30px{

  height: 30px;
}
.h60px{
	width: 100%;
	height: 60px;
}
section{
	background-color:lightpink;
}


/* sec-news------------------- */
.sec-news{
	margin-top:30px;
	height:100px;
}
.news{
  width:100%; 
  height:50px; 
  overflow:hidden;
}
.rolling{
  position:relative; 
  width:100%; 
  height:auto;
}
.rolling li{
  width:100%; 
  text-align: center;
  height:50px; 
  line-height:50px;
}

/* sec-chart------------------- */

.sec-chart{
	margin-top:50px;
	height:500px;
	position: relative;
}


/* sec-pament------------------- */
#kakaoWrap {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  margin: 0 auto; 
	padding: 100px;
}

#kakaoHead {
	margin-bottom: 30px; 
}

/* sec-board------------------- */
.sec-board{
	margin-top:40px;
	height:150px;
}



/* rank-area------------------- */

.rank-area{
	margin-top:150px;
	width:350px;
	height:600px;
	background-color: blue;
}
.rank-area ul{
	width:300px;
	background-color: #fff;
}
.rank-area ul li{
  border:1px solid #ddd;
}




.pagination{
  display: flex;
  justify-content: center;
  padding: 15px 0;
}
.pagination a{
  margin: 0 5px;
}

/* footer------------------- */


footer{
	margin-top:100px;
	width:100%;
	height:200px;
	background-color:#C6C6C6;
	color:#fff;
	display: flex;
}

.con-footer{
	width:80%;
	margin: 0 auto;
}

.middle-footer{
	height:200px;
	text-align: center;
}
.middle-footer p{
  line-height: 200px;
  
}
  
/* 너비설정클래스------------------- */
.min-100vh{
  min-height:100vh;
  
}

.width80{
  width:80%;
}


