@import url('https://webfontworld.github.io/SCoreDream/SCoreDream.css');
@font-face {
  font-family: 'Pretendard-Regular';
  src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}
*{
  margin:0;
  padding:0;
}

body{
  font-family: 'Pretendard-Regular';
  scroll-behavior: smooth;
  box-sizing: border-box;
  background-color: #121212;
  color:#fff;

}

a {
  text-decoration: none;
  color:#fff;
}


tr{
  color:#fff;
}

ol,
ul,
li {
    list-style: none;
}
input{
  color: #C6C6C6;
}

.text-c{text-align: center;}
.text-l{text-align: left;}
.text-r{text-align: right;}


.line1px,
.line3px{
  width:100%; 
  height:1px;
  background-color: #D9D9D9;
  margin: 5px auto;
  transition:0.5s;
}

.line1px{
  height:1px;
}
.line3px{
  height:3px;
}

.line1px.pur,
.line3px.pur{
  background-color: #6B53FF;
}

.line1px.black,
.line3px.black{
    background-color: #000;
}

.container-1400{
  width:1400px;
  margin:0 auto;

}

.con-main{
  display: flex;
  position: relative;
  align-items: baseline;
  justify-content: space-between;
}

.con-login{
  position: relative;
}



.wrap-1000{
  width:1000px;
  margin:0 auto;
}



/* header------------------- */

header{
  border-bottom: 1px solid #000000;
  height:60px;
  width:100%;
  box-sizing: border-box;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 10000;
  transition: 1s;
  overflow: hidden;
  background-color: #282828;
}

.header.act {
    height: 250px;
}


.header .inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px auto;
    width: 1400px;
    height: 60px;

}

.logo {

    display: flex;

    width: 200px;
    height: 60px;
    align-items: center;
}


.logo img {
  height: 40px;
  width: auto;
  margin-right: 10px;
}

.gnb_wrap {
    position: absolute;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
}

.mobile_gnb_wrap {
    display: none;
}

.global_nav_bar,
.local_nav_bar {
    display: flex;
    align-items: center;
}

.global_nav_bar li a {
    color: #fff;
    font-weight: 600;
    transition: 1s;
}

.global_nav_bar li a:hover {
    color: #979797;
    font-weight: 600;
}

.global_nav_bar li {
    width: 150px;
    height: 60px;
    line-height: 60px;
    margin-right: 20px;
    text-align: center;
}

.global_nav_bar li span {
    color: #000;
    font-weight: 600;
}

.sub-menu {
    margin-top: 10px;
    font-size: 14px;
    text-align: center;
}

.sub-menu li{
    width: 150px;
    height: 40px;
    line-height: 40px;
    margin-right: 20px;

}
.sub-menu li a{
  
    color: #979797;
    transition:0.5s;
}
.sub-menu li a:hover {
    color: #fff;
}


.login {
    cursor: pointer;
}

.login a span{
  line-height:60px;
  margin-right: 10px
}

.login-menu{
  width: 120px;
  display:flex;
  align-items: center;
  justify-content: space-between;
  
}

.menu-btn-wrap{
  width:60px;
  height: 60px;
}
.menu-btn{
  width: 30px;
  height: 24px;
  position: relative;
  top:30%;
  left:50%;
  transform: translateX(-50%);
  cursor: pointer;
  }

.menu-btn span{
  position: absolute;
  display: block;
  width:100%;
  height:5px;
  border-radius:5px;
  background-color: #fff; 
  transition:1s;
}
.menu-btn span:nth-child(1){
  top:0;  
}
.menu-btn span:nth-child(2){
  top:50%;
  transform: translateY(-50%);
}
.menu-btn span:nth-child(3){
  bottom:0;
}

.menu-btn span:nth-child(1).act{
  top:50%;
  transform: translateY(-50%) rotate(-45deg); 
}
.menu-btn span:nth-child(2).act{
  opacity:0;
}
.menu-btn span:nth-child(3).act{
  top:50%; 
  transform: translateY(-50%) rotate(45deg);
}

/* 헤더 마이페이지 시작
 * --------------------------------------- */

.mypage-box{
  width: 200px;
  height: 150px;
  position: relative;
  left:73%;
  text-align: right;
}

.mypage-box p{
  display: block;
  margin: 10px 0;
}

.mypage_pop p{
  text-align: center;
}



/* 헤더 마이페이지 끝
 * --------------------------------------- */



/* wrap------------------- */
.main-wrap{
  padding: 40px 20px;
  background-color: #000;
  border-radius: 40px;
  margin-top: 60px;
  border:1px solid #222;
  margin-bottom:100px;
  margin-right: 30px;
  width: auto;
}





/* section------------------- */
.h30px{

  height: 30px;
}
.h60px{
  width: 100%;
  height: 60px;
}
section{
  background-color:#222;
  margin-top:20px;
  border-radius: 20px;
}
.con-main h4{
  margin-top:50px;
  padding-left:50px;
}
.con-main h4:first-child{
  margin-top: 0;
}

/* sec-news------------------- */
.sec-news{
  height:100px;
  border-radius: 20px;
}
.news{
  width:100%; 
  height:100px; 
  overflow:hidden;
}

.news h4{
  margin-top: 0;
}
.rolling{
  position:relative; 
  width:100%; 
  height:auto;
}
.rolling li{
  width:100%; 
  text-align: center;
  height:100px; 
  line-height:100px;
}

.rolling li a{
  font-size: 28px;
  font-weight: 600px;
}


/* sec-chart------------------- */

.sec-chart{
  position: relative;
  overflow: hidden;
}
.sec-chart text{
  cursor: pointer;
  
}

 
/* sec-board------------------- */
.sec-board{
  padding:40px 50px;
}

.main-post-table{
  width:100%;
}

.main-post-tbody tr td:nth-child(1){text-align: center;}


.user-rank-wrap{
	margin-top:10px;
}

/*figure-area------------------ */
.figure-area {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 300px;

  margin-top: 25px;
  overflow: hidden;

  
}

/* user-area------------------- */

.user-area{

  width:270px;

  padding:20px;
  border-radius:20px;
  background-color: #000;
  border:1px solid #222;
  margin-top: 15px;

}

.user-box{
	background-color: #121212;
	width: 90%;

	padding: 5%;
	border-radius: 10px;
}

.user-btn{
	display: flex;
	justify-content: space-around;
	align-items: center;
	margin-top:10px; 
}

.user-btn p{
  width: 110px;
  height: 40px;
  font-size: 16px;
  background-color: #6B53FF;
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  font-weight: 600;
  transition: 0.5s;
  text-align: center;
}

.user-btn p a{
	line-height: 40px;
}

.user-mypage{
	display: flex;
	width: 100%;
}
.user-mypage p {
	width: 50%;
}
.user-mypage p a{
	line-height: 25px;
	transition:0.5s
}
.user-mypage p a:hover{
	color: #FFA000;
}
/* rank-area------------------- */

.rank-area{
  width:270px;
  padding:20px;
  border-radius:20px;
  background-color: #000;
  border:1px solid #222;
  margin-top: 15px;
}
.rank-area h4{
  margin: 0;
  padding: 0;
  margin-bottom: 10px;
}
.rank-area .tab-button{
  padding: 0;
}


.main-rank-table{
  width: 100%;
  font-size:12px;
  border-collapse: collapse;
  border: 5px solid #222;
}

.main-rank-table tr{
  width: 100%;
  background-color:#222;
  border:3px solid #000;
  margin:5px 0;
  border-radius: 10px;
  height:36px;
  text-align: center;
   
}

.pagination{
  display: flex;
  justify-content: center;
  padding: 15px 0;
}
.pagination a{
  margin: 0 5px;
}


/* footer------------------- */


footer{
  width:100%;
  height:200px;
  background-color:#222;
  color:#fff;
  display: flex;
  z-index: 200;
}

.con-footer{
  width:80%;
  margin: 0 auto;
}

.middle-footer{
  height:200px;
  text-align: center;
}
.middle-footer p{
  line-height: 200px;
  
}
  
/* 너비설정클래스------------------- */
.min-100vh{
  min-height:80vh;
  
}

.width80{
  width:80%;
}


/* 자동완성 기능 시 인풋 배경 하얗게 변하는 것 방지/ 포커싱 될때 테두리 생기는것 방지 */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-text-fill-color: #fff;
    -webkit-box-shadow: 0 0 0px 1000px #121212 inset;
    box-shadow: 0 0 0px 1000px #121212 inset;
    transition: background-color 5000s ease-in-out 0s;
}

input:autofill,
input:autofill:hover,
input:autofill:focus,
input:autofill:active {
  -webkit-text-fill-color: #fff;
    -webkit-box-shadow: 0 0 0px 1000px #121212 inset;
    box-shadow: 0 0 0px 1000px #121212 inset;
    transition: background-color 5000s ease-in-out 0s;
}

input:-webkit-autofill {
   -webkit-box-shadow: 0 0 0 1000px #fff inset;
}


input:-webkit-autofill {
-webkit-box-shadow: 0 0 0 1000px #121212 inset;
box-shadow: 0 0 0 1000px #121212 inset;
}

input:focus {outline: none;}