@charset "UTF-8";
/* 초기화 */
* {
  padding: 0;
  margin: 0;
  /* 요소의 너비와 높이를 계산하는 방법을 지정
  border-box: 테두리 안쪽 여백, 크기도 요소의 크기로 고려
  (테두리와 안쪽 여백 포함)
  */
  box-sizing: border-box;
}

@font-face {
  font-family: 'Nanum Gothic', sans-serif;
  src: url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');
}



body{
  font-family: 'Nanum Gothic', sans-serif;
  font-size: 15px;
}

.button-area{
  margin-top: 60px;
  text-align: right;
  margin-bottom: 5px;
}

button {
  background-color: #2979ff;
  color: #fff;
}
  
.container{
  width: 1100px;
  margin: 0 auto; 
}

.page-title{
  margin-top: 60px;
  margin-bottom: 60px;
}

.page-title h2{
  font-size: 30px;
  color: #333;
  text-align: center;
}


.board-table{ 
  width: 100%;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  border-collapse: collapse;
  border-spacing: 0;  
}
    
.board-table a {
  color: #333;
  vertical-align: middle;
  display: inline-block; /* a 태그는 인라인 속성으로 inline-block */
  line-height: 1.4;
  /* word-break                  
  줄 끝에서 어떻게 단어를 끊어주어야 하는지에 관한 속성        
  break-all : 글자가 넘치면 줄바꿈        
  */
  word-break: break-all;
  text-decoration: none;
  
}  
  
.board-table a:hover {
  text-decoration:underline;
}  
  
  
.board-table th {
  background-color: #01579b;
  text-align: center;
  color: #fff;
}

.board-table tbody td {
  border-top: 1px solid #e7e7e7;
}

.board-table th,.board-table td {  
  padding: 10px 0;
}

.l-txt { /*왼쪽 정렬 */
  text-align: left;
}

.r-txt { /*오른쪽 정렬 */
  text-align: right;
}

.c-txt { /*가운데 정렬 */
  text-align: center;
}

.pagination {
  margin-top: 20px;
  text-align: center;
}  

.pagination a {
/*  border: 1px solid #e7e7e7; */
  color: black;
  padding: 10px 5px;
  text-decoration: none;
}