body{
  background-color: #141414;
  position: relative;
}

.login-wrap a{  
color:#979797;
}

.login-wrap{  
  position:absolute;
  left:50%;
  top:50%;
  transform:translate(-50%,-50%);
  width: 300px;
  height: 460px;
  background-color: #222;
  border: 1px solid #6B53FF;
  border-radius:30px;  
  padding:50px;
  color: #fff;
}

.join-wrap{
  margin: 100px auto;
  width: 526px;
  background-color: #222;
  border: 1px solid #6B53FF;
  border-radius:30px;
  padding:50px;
}


.my-update-wrap{
	margin: 100px auto;
  width: 526px;
  background-color: #222;
  border: 1px solid #6B53FF;
  border-radius:30px;
  padding:50px;
}

.find-wrap{
  margin: 100px auto;
  width: 526px;
  background-color: #222;
  border: 1px solid #6B53FF;
  border-radius:30px;
  padding:50px;
}

.delete-wrap{  
  position:absolute;
  left:50%;
  top:50%;
  transform:translate(-50%,-50%);
  width: 300px;
  height: 460px;
  background-color: #222;
  border: 1px solid #6B53FF;
  border-radius:30px;  
  padding:50px;
  color: #fff;
}

.login-wrap .login-logo{
  text-align: center;
  
}


.lines-box{
  border-radius: 20px;
  overflow: hidden;
}

.login-logo{
  text-align: center;
}
.login-logo a{
  width: 100%;
  height: 60px;
}
.login-logo-img{
  width: 60px;
  height: auto;
  margin-bottom: 5px;
}
.input-wrap{
  padding:30px 0;
  
}
.input-title{
  font-size: 14px;
  font-weight: 600;
  color: #fff;
}
.input-title.password{
  margin-top:10px;
}
.input-title span a{
  font-size: 12px;
  color: #fff;
  margin-left: 5px;
}
.input-chek{
  margin-top: 10px;
}

.input-chek label{
  color:#979797;
}



.size {
  width: 290px;
  height: 30px;
  background-color: #141414;
  margin:5px 0;
  padding-left: 10px;
  border: 1px solid #6B53FF;
  border-radius: 5px;
  box-sizing: border-box;
}

.border-bottom{
  width: 390px;
  height: 40px;
  border: none;
  border-bottom: 2px dashed #121212;
  border-radius: 5px 5px 0px 0px;
  box-sizing: border-box;
  background-color: #222;
}

#name{
  width:100%;
}
.fa-check-circle{
  color:#6B53FF; 
  margin-left: -20px; 
  opacity:0; 
  transition:0.5s;
  
}

.btn {
  width: 110px;
  height: 40px;
  font-size: 16px;
  background-color: #6B53FF;
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  font-weight: 600;
  transition: 0.5s;
  text-align: center;
}

.login-btn{
  margin-top:15px;
}

/* 카톡로그인 버튼 */
.kakao{
	margin-top:15px;
  height: 40px;
  background-color: #6B53FF;
  border-radius: 5px;
  font-weight: 600;
  transition: 0.5s;
  text-align: center;
}
.kakao a{
	color: #fff;
	line-height: 40px;
	
}

.btn.w100 {
  width: 100%
}

.submit{
  display: block;
  width: 100%;
  text-align: center;
  margin-top: 50px;
}
.btn.w70 {
  width: 70%;
}

.btn-white{
  width: 120px;
  height: 45px;
  font-size: 16px;
  background-color: #121212;
  color:#979797;
  border: 1px solid #121212;
  margin-left: 10px;
  box-sizing: border-box;
  transition:0.5s;
}
.delet-btns{
 width:100%;
 display: flex;
 justify-content:space-around;
}


/* 비밀번호 변경 */

p.find{
  font-size: 13px;
  text-align: right;
  margin-top:15px;
}

p.find.join{
  text-align: center;

}

p.find.join a{
  color: #979797;
}

.find span::before {
  content: '|';
  color: #979797;
  padding: 0 10px;
}

.find span:nth-child(1):before {
  content: none;
}


.back-home{
  display:block;
  font-size: 13px;
  color:#D9D9D9;
  text-align: center;
  margin-top: 10px;
}


.form-h3{
  margin-top: 60px;
}
.form-h3 h3{
  font-size: 20px;
  text-align: center;
  color:#fff;
  font-weight:bolder;
}


.label-margin{
  margin: 20px 0;
}

.name-phone-wrap{
  display: flex;
  width:100%;
  justify-content: space-between;
}
.name-phone{
  width:48%;
}
.border-bottom.w48{
  width:100%;
}

input#name.size.border-bottom {

    background: #fff !important;

}



root:{
  accent-color:#6B53FF;
}

#m_n{
  margin-left:15px;
}


/* 회원탈퇴 */
.caution p{
	font-size: 14px;
	color: #979797;
	
}



/* pwShHi */


.pwShHi {
    position: relative;
    display: inline-block;
}

.pwShHi i {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    color: #fff;
    cursor: pointer;
    margin-right : 5px; 
}

.pwShHi img {
    position: absolute;
    right: calc(100% + 10px);
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}




.drops{

  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  margin: auto;
  width: 90vw;
}
  
.drop{

  position: absolute;
  width: 1px;
  height: 100%;
  top: 0;
  left: 50%;
  background: rgba(255, 255, 255, 0.1);
  overflow: hidden;
}
  
.drop::after{

  content: '';
  display: block;
  position: absolute;
  height: 15vh;
  width: 100%;
  top: -50%;
  left: 0;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, #ffffff 75%, #ffffff 100%);
  animation: drop 10s 0s infinite;
  animation-fill-mode: forwards;
  animation-timing-function: cubic-bezier(0.4, 0.26, 0, 0.97);
}

.drop:nth-child(1){

  margin-left: -42%;
}
.drop:nth-child(1)::after{

  animation-delay: -4s;
}
.drop:nth-child(2){

  margin-left: -33%;
}
.drop:nth-child(2)::after{

  animation-delay: 2s;
}
.drop:nth-child(3){

  margin-left: 36%;
}
.drop:nth-child(3)::after{

  animation-delay: 3.5s;
}
.drop:nth-child(4){

  margin-left: 43%;
}
.drop:nth-child(4)::after{

  animation-delay: -2.5s;
}

@keyframes drop{

  0%{ 

      top: -50%;
  }
  100%{

      top: 110%;
  }
  
}
