.main-post-category{
	text-align: right;
	margin-bottom: 10px
}
.main-post-category a{
	margin: 0 10px;	
	transition:0.5s;
}
.main-post-category a:hover{
	color: #FFA000;
}
.main-post-table{
 border:1px solid #000;
 border-collapse : collapse
}
.main-post-table thead tr{
	background-color: #121212;
	display: block;
	padding:5px 0;
	border-bottom:2px solid #FFA000;
	border-top:2px solid #000;
}
.main-post-table tbody tr{
  display: block;
  padding:5px 0;
  border-bottom:1px solid #000;
	width: 900px;
}

.main-post-table tbody tr:last-child{
  border-bottom:2px solid #000;
}

.main-post-table tbody tr td:nth-child(1) {
	 width: 50px;
	 text-align: center;
}
.main-post-table tbody tr td:nth-child(2) {
	 width: 640px;

}
.main-post-table tbody tr td:nth-child(3) {
	 width: 70px;
   text-align: center;
}
.main-post-table tbody tr td:nth-child(4) {
	 width: 70px;
   text-align: center;
}
.main-post-table tbody tr td:nth-child(5) {
	 width: 60px;
   text-align: center;
}
.main-post-table tbody tr td:nth-child(6) {
	 width: 60px;
   text-align: center;
}


