<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<link rel="stylesheet" href="../css/board.css">
<title>게시판</title>
</head>
<body>
  <!-- 소 제목 -->
  <div class="page-title">
    <h2>자유게시판</h2>
  </div>
  <!--// 소 제목 end ------------------------------------------------------------->
  
  <!-- contents  -->
  <div class="container">  
    <!-- 검색영역+조회버튼 -->
    <div class="button-area">
      <select>
        <option>전체</option>
        <option>제목</option>
        <option>내용</option>
        <option>제목+내용</option>
        <option>작성자</option>
      </select>
      <input type="text" name="searchWord" placeholder="검색어를 입력 하세요">
      <select>
        <option value="10" >10</option>
        <option value="20" >20</option>
        <option value="30" >30</option>
        <option value="50" >50</option>
        <option value="100" >100</option>
        <option value="200" >200</option>
      </select>
      <a href="#" class="pc_button" >조회</a>
      <a href="#" class="pc_button"  >등록</a>     
    </div>
    <!-- 검색영역+조회버튼 --------------------------------------------------------->
    <table class="board-table">
      <thread>
        <tr>
           <th>번호</th>
           <th>제목</th>
           <th>글쓴이</th>
           <th>작성일</th>
           <th>추천</th>
           <th>조회</th>
        </tr>
      </thread>
      <tbody>
        <tr>
          <td class="c-txt">1</td>
          <td class="l-txt"><a href="#">개인정보 처리방침 변경안내</a></td>
          <td class="c-txt">이상무</td>
          <td class="c-txt">2023-06-16</td>
          <td class="r-txt">1</td>
          <td class="r-txt">10</td>
        </tr>
        <tr>
          <td class="c-txt">2</td>
          <td class="l-txt"><a href="#">개인정보 처리방침 변경안내</a></td>
          <td class="c-txt">이상무</td>
          <td class="c-txt">2023-06-16</td>
          <td class="r-txt">1</td>
          <td class="r-txt">10</td>
        </tr>
        <tr>
          <td class="c-txt">3</td>
          <td class="l-txt"><a href="#">개인정보 처리방침 변경안내</a></td>
          <td class="c-txt">이상무</td>
          <td class="c-txt">2023-06-16</td>
          <td class="r-txt">1</td>
          <td class="r-txt">10</td>
        </tr>               
      </tbody>
      
        
    </table>
    <div class="pagination">
      <a href="#">«</a> 
      <a href="#"><</a> 
      <a href="#">1</a> 
      <a href="#">2</a>
      <a href="#">3</a> 
      <a href="#">4</a> 
      <a href="#">5</a> 
      <a href="#">6</a>
      <a href="#">7</a> 
      <a href="#">8</a> 
      <a href="#">9</a> 
      <a href="#">10</a>
      <a href="#">></a> 
      <a href="#">»</a>
    </div>
    
  </div>
  <!--// contents  ------------------------------------------------------------>
</body>
</html>